.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.header__brand {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.header__user-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header__user-info__user-data {
  text-align: right;
}

.header__user-info__name {
  margin: 0 0 0.5rem;
  padding: 0;
  font-size: 1rem;
  line-height: 1rem;
  text-align: right;
  font-weight: 700;
  color: var(--black);
}

.header__user-info__victories {
  font-size: 0.8rem;
  line-height: 0.8rem;
  color: var(--white);
  padding: 0.3rem 0.5rem;
  background-color: var(--orange);
  border-radius: 3px;
}

.header__user-info__victories strong {
  margin-right: 4px;
}

.header__user-info .character-image {
  margin-left: 1rem;
}