.main {
  height: 75%;
  display: flex;
  flex-direction: row;
  border-radius: var(--border-radius);
  @mixin boxShadow;
}

.main-transition-enter {
  max-height: 0;
}
.main-transition-enter-active {
  max-height: 75%;
  transition: max-height 500ms ease-in;
}
.main-transition-exit {
  max-height: 75%;
}
.main-transition-exit-active {
  max-height: 0;
  transition: max-height 500ms ease-out;
}

/* Left column */
.main__left-column {
  flex-grow: 1;
  background-color: var(--gray2);
}

/* Right column */
.main__right-column {
  flex-grow: 10;
  background-color: var(--white);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
