.modal-backdrop.show{
  opacity: 0.15;
}

.modal-content {
  border: 0;
  border-radius: var(--border-radius);
  @mixin boxShadow;
}

.modal-header {
  background-color: var(--orange);
  border-bottom: 0;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.modal-title {
  color:var(--white);
  font-size: 1.2rem;
  line-height: 1.2rem;
}
