/* Bootstrap */
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
/* PARAMS */
@import './params.css';
/* MIXINS */
@import './mixins.css';
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
/* Components */
@import '../components/features/LeftMenu.css';
@import '../components/ui/layout/AppHeader.css';
@import '../components/ui/layout/AppMain.css';
@import '../components/ui/interface/AppAlert.css';
@import '../components/ui/interface/AppLoading.css';
@import '../components/ui/interface/AppModal.css';
@import '../components/ui/features/AppCountDown.css';
@import '../components/ui/features/AppKeyboardKeys.css';
@import '../components/ui/features/AppListItems.css';
@import '../components/features/RaceFinish.css';
@import '../components/features/RaceInfo.css';
@import '../components/features/RaceMovements.css';
@import '../components/features/RaceGoogleMap.css';
@import '../components/features/UserForm.css';

html,
body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--app-background-color);
  height: 100%;
}

#root {
  height: 100%;
}

.error-message-full {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: var(--black);
  background-color: var(--white2);
  padding: 1rem;
  text-align: center;
}
