:root {
  /* Color */
  --orange: #ff8c15;
  --orange2: #FCE7CD;
  --gray: #a2a9bd;
  --gray2: #edf3fc;
  --gray3: #e2e6f1;
  --green: #32a060;
  --green2: #9cd9b4;
  --red: #f32b29;
  --red2: #f3a6a6;
  --blue: #3d60ff;
  --blue2: #a3ccf8;
  --black: #3c3f57;
  --white2: #F7FBFF;
  --white: #FFF;
  /* App */
  --app-background-color: #f7fbff;
  --border-radius: 10px;
  --border-radius-box: 5px;
}

