.count-down {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.count-down__title {
  margin: 0 0 0.5rem 0;
  font-size: 1rem;
  line-height: 1rem;
}

.count-down__seconds {
  font-size: 3rem;
  line-height: 3rem;
  color: var(--orange);
}

.count-down.over-layer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);
}
