.keyboard-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.keyboard-actions__arrow {
  color: var(--blue);
  font-size: 3rem;
}

.keyboard-actions__label {
  color: var(--gray);
  font-size: 1.5rem;
  margin-left: 1rem;
  width: 80px;
}

