.items {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-bottom: 64px;   /* heigth "items__header" */
}

.items__header {
  display: flex;
  justify-content: space-between;
}

.items__content {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.items__title {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: var(--black);
}

.items__subtitle {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1rem;
  color: var(--gray);
}

.items__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.items__nolist {
  font-size: 1rem;
  color: var(--gray);
  margin: 1rem 0;
}

.items__list__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  border-bottom: 1px solid var(--gray2);
  background-color: var(--white);
}

.items__list__item:first-child {
  border-top-left-radius: var(--border-radius-box);
  border-top-right-radius: var(--border-radius-box);
}

.items__list__item:last-child {
  border-bottom-left-radius: var(--border-radius-box);
  border-bottom-right-radius: var(--border-radius-box);
  border-bottom: 0;
}

.items__list__item-transition-enter {
  opacity: 0;
}

.items__list__item-transition-enter-active {
  opacity: 1;
  transition: opacity 350ms ease-in;
}

.items__list__item-transition-exit {
  opacity: 1;
}

.items__list__item-transition-exit-active {
  opacity: 0;
  transition: opacity 350ms ease-out;
}

.items__list__item-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  height: 100%;
  padding: 1rem 0 1rem 1rem;
}

.items__list__item-left > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 95%;
}

.items__list__item-left--players {
  flex-direction: row;
  align-items: center;
}

.items__list__item-left--players .character-image {
  margin-right: 0.4rem;
}

.items__list__item-left--players .items__list__item-name {
  width: 100px;
}

.items__list__item-right {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  padding: 1rem 0;
  border-left: 1px solid var(--gray2);
}

.items__list__item-right--disabled {
  cursor: inherit;
}

.items__list__item-name {
  color: var(--black);
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.items__list__item-info {
  font-size: 0.8rem;
  color: var(--gray);
}

.items__list__item__action-icon {
  font-size: 1.5rem;
  color: var(--gray3);
}

.items__list__item--selected {
  background-color: var(--blue);
}

.items__list__item--selected .items__list__item-name {
  color: var(--white);
}

.items__list__item--selected .items__list__item-info {
  color: var(--gray2);
}

.items__list__item--running {
  opacity: 0.6;
}
