.left-menu {
  flex-grow: 0.2;
  background: var(--orange);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.left-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-menu__item {
  cursor: pointer;
  margin: 1rem 0;
  opacity: 0.7;
  transition: opacity .15s ease-in-out;
}

.left-menu__item:hover,
.left-menu__item:focus {
  opacity: 1;
}

.left-menu__item-text {
  font-size: 2rem;
  color: var(--white);
}
