/* Race finish */
.race-finish {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);

  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.race-finish__title {
  margin: 0 0 1rem;
  padding: 0;
  color: var(--orange);
  font-weight: bold;
}

.race-finish__list {
  width: 65%;
  margin: 0 0 2rem;
  padding: 0;
}

.race-finish__list .items__list__item {
  @mixin boxShadow;
  height: auto;
}

.race-finish__list .items__list__item .items__list__item-left .items__list__item-name {
  width: 175px;
}

.race-finish__list .items__list__item .items__list__item-right .items__list__item-position {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  color: var(--black);
}
