.race {
  display: flex;
  flex-direction: row;
  background-color: var(--white2);
  border-bottom-right-radius: var(--border-radius-box);
}

.race__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.race__info__title {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  color: var(--gray);
}

.race__players-list {
  flex-grow: 1;
}

.race__map-race {
  flex-grow: 5;
  background-color: var(--white);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top-right-radius: var(--border-radius-box);
  border-bottom-right-radius: var(--border-radius-box);
}

.race__map-wrapper {
  position: relative;
  border-top-right-radius: var(--border-radius-box);
  height: 80%;
}

.race__map-actions {
  height: 20%;
}