.map-actions {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 20px solid var(--white);
  transition: border .15s ease-in-out;
}

.map-actions.right {
  border-color: var(--green);
}

.map-actions.wrong {
  border-color: var(--red);
}

.map-actions__title {
  color: var(--gray);
  font-size: 1rem;
}
