.characters-radio {
  margin: 0 0 0.5rem 0;
}

.characters-radio .character-image {
  display: inline-block;
  margin: 0 0.5rem 0 0;
}

.characters-radio .check-label__text {
  color: var(--black);
}

.check-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.check-label__text {
  font-size: 0.8rem;
  color: var(--black);
}
